.cs-btn {
    width: 90px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #1677FF;
    border: 1px solid #1677FF;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    margin: 6px;
    cursor: pointer;

    &:hover {
        color: #1677FF;
        background-color: #fff;
        border: 1px solid #1677FF;
    }

    &-disable {
        background-color: #333;
        border: 1px solid #666;
        cursor: not-allowed;
    }

    &-large {
        width: 100px;
        height: 50px;
        line-height: 50px;
    }

    &-small {
        width: 60px;
        height: 40px;
        line-height: 40px;
    }
}